<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haohao.fast.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.haohao.fast.domain.SysMenuEntity">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="menuType" column="menu_type" jdbcType="INTEGER"/>
        <result property="permission" column="permission" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="creator" column="creator" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updater" column="updater" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,parent_id,menu_name,
        menu_type,permission,remark,
        deleted,version,creator,
        create_time,updater,update_time
    </sql>

    <select id="listMenuByRoleIds" resultType="com.haohao.fast.domain.SysMenuEntity">
        SELECT
        m.NAME,
        m.description,
        m.deleted,
        sm.id,
        sm.parent_id,
        sm.menu_name,
        sm.menu_type,
        sm.path,
        sm.component,
        sm.permission,
        sm.sort
        FROM sys_role m
        INNER JOIN sys_role_menu srm ON srm.role_id = m.id
        AND srm.deleted = 0
        INNER JOIN sys_menu sm ON srm.menu_id = sm.id
        AND sm.deleted = 0
        WHERE m.deleted = 0
        <if test="roleIds.length != null and roleIds.length > 0">
            <foreach collection="roleIds" item="item" open="AND m.id IN (" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
